[Locations]
# Path to loadout config. Can use relative path from here.
looks_config = ./appearance.cfg

# Path to python file. Can use relative path from here.
python_file = ./bot.py

# Name of the bot in-game
name = t&f_example

# The maximum number of ticks per second that your bot wishes to receive.
maximum_tick_rate_preference = 120

[Details]
# These values are optional but useful metadata for helper programs
# Name of the bot's creator/developer
developer = Wes & CTAGO7

# Short description of the bot
description = Example bot for track and field
# Fun fact about the bot
fun_fact = Only goes for one waypoint, you have to put in some work!

# Link to github repository
github = https://github.com/RLBot/RLBotPythonExample

# Programming language
language = python
